@font-face {
  font-family: "Petersburg Cyrillic";
  src: url("../fonts/petersburg-cyrillic/petersburg-cyrillic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/petersburg-cyrillic/petersburg-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/petersburg-cyrillic/petersburg-cyrillic.otf") format("opentype"), /* Open Type Font */
  url("../fonts/petersburg-cyrillic/petersburg-cyrillic.svg") format("svg"), /* Legacy iOS */
  url("../fonts/petersburg-cyrillic/petersburg-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/petersburg-cyrillic/petersburg-cyrillic.woff") format("woff"), /* Modern Browsers */
  url("../fonts/petersburg-cyrillic/petersburg-cyrillic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_black.otf') format('opentype'),
  url('../fonts/proxima-nova/proximanova_black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_blackit.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_boldit.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

p {

}

.dark {
  .prose {
    ul {
      li::before {
        color: #5EC8B8;
      }

      a {
        color: #5EC8B8;
      }
    }
  }
}

.prose {
  /* Для всех уровней вложенности списков */
  ul {
    list-style: none;
    padding-left: 1.5em;

    li {
      position: relative;
      margin-bottom: 0.5em;

      &::before {
        content: '•';
        color: #174f54;
        position: absolute;
        left: -1em;
        width: 1em;
        font-size: 1.2em;
        line-height: inherit;
      }
    }

    a {
      text-transform: uppercase;
      color: #174f54;
      font-weight: bold;
      font-size: 0.75rem;
    }
  }

  /* Для вложенных списков */
  ul ul {
    margin-top: 0.5em;
    padding-left: 2em;

    li::before {
      content: '◦';
      font-size: 1.1em;
    }
  }

  /* Третий уровень вложенности */
  ul ul ul li::before {
    content: '▪';
    font-size: 0.9em;
  }

  table {
    @apply my-4;

    td {
      @apply px-4 py-2 border-separate border;
    }
  }

  ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    counter-reset: list-counter;
  }

  ol > li {
    counter-increment: list-counter;
    position: relative;
    margin-bottom: 0.5rem;
  }
}

// анимация для скелетонов
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1 }
  50% { opacity: 0.5 }
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.slide-enter-to,
.slide-leave-from {
  opacity: 1;
  transform: translateY(0);
}