@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    @apply bg-background ;
    /*@apply dark:bg-background__dark  dark:text-color-typography__dark;*/
}

body.menu-open {
    overflow: hidden;
}

body {
    @apply text-base leading-7 text-color-typography font-proxima-nova;
}

/* Headings */

h1 {
    @apply text-h1_sm leading-h1_sm mb-2 mt-0 font-spb;
}

h2 {
    @apply text-h2_sm leading-h2_sm mb-2 mt-0;
}

h3 {
    @apply text-h3_sm leading-h3_sm mb-2 mt-0;
}

h4 {
    @apply text-h4_sm leading-h4_sm mb-2 mt-0;
}

h5 {
    @apply text-h5_sm leading-h5_sm mb-1 mt-0;
}

@screen md {
    h1 {
        @apply text-h1 leading-h1;
    }

    h2 {
        @apply text-h2 leading-h2;
    }

    h3 {
        @apply text-h3 leading-h3;
    }

    h4 {
        @apply text-h4 leading-h4;
    }

    h5 {
        @apply text-h5 leading-h5;
    }
}

/* Body Text */
p {
    @apply text-base leading-7 mb-4;
}

/* Анимация для мобильного меню */
.transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}